
virtualenv
venv

stpiece
tokenizers

best_model.pth

**/__pycache__

#all datasets folder except for "cyberbullying_tweets.csv"
datasets/*
!datasets/cyberbullying_tweets.csv

*.pth

pyrightconfig.json

res.*
