
virtualenv
venv

__pycache__
**/*__pycache__ 

/stpiece/**.txt

#exclude from gitignore cyberbullying_tweets.csv from the datasets folder but keep all other files
!datasets/cyberbullying_tweets.csv
datasets
